<!-- style.css -->
body
{
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
    color: white;
}


<!-- Header display link -->
.site-header
{
    text-align: center;
    margin-bottom: 40px;
}
.site-header h1
{
    font-size: 36px;
    color: #333;
}
.site-header p
{
    font-size: 18px;
    color: #666;
}


