<!-- style.css used to design our webpage -->
body
{
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
    color: white;
}


<!-- Header display link -->
.site-header
{
    text-align: center;
    margin-bottom: 40px;
}
.site-header h1
{
    font-size: 36px;
    color: green;
}
.site-header p
{
    font-size: 18px;
    color: yellow;
}


<!-- Main Heading area / Welcome section -->
.hero
{
    text-align: center;
    margin-bottom: 30px;
}   

}



